In [1]:
from folktables import ACSDataSource, ACSEmployment,ACSIncome
import pandas as pd
import time
import numpy as np
import copy
import glob
import sys, os
import torch
import torch.nn as nn
import torch.utils.data as data_utils
import pickle
from sklearn import preprocessing
import torch.optim as optim
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from folktables import ACSDataSource, ACSEmployment,ACSIncome
import matplotlib.pyplot as plt
import torch.nn.functional as F
from tqdm import tqdm
from sklearn.metrics import roc_curve
from sklearn.model_selection import StratifiedKFold, train_test_split
from torchvision import models
from torchsummary import summary
from torch.utils.data import Dataset, DataLoader
from sklearn.metrics import accuracy_score
import os
from torch.utils.data import Dataset
import numpy as np
import torch.nn.functional as F
import pandas as pd
from scipy.stats import multivariate_normal
import torch, random, copy, os

from torch.utils.data import DataLoader, Subset, random_split

In [2]:
data_source = ACSDataSource(survey_year='2018', horizon='1-Year', survey='person')
acs_data = data_source.get_data(states=["AL"], download=True)

In [3]:
features, label, group = ACSEmployment.df_to_pandas(acs_data)

In [4]:
merged_df=pd.concat([features, label], axis=1)
merged_df.head()

,AGEP,SCHL,MAR,RELP,DIS,ESP,CIT,MIG,MIL,ANC,NATIVITY,DEAR,DEYE,DREM,SEX,RAC1P,ESR
0,19.0,18.0,5.0,17.0,2.0,0.0,1.0,3.0,4.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,False
1,18.0,18.0,5.0,17.0,2.0,0.0,1.0,3.0,4.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,False
2,53.0,17.0,5.0,16.0,1.0,0.0,1.0,1.0,4.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,False
3,28.0,19.0,5.0,16.0,2.0,0.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,False
4,25.0,12.0,5.0,16.0,1.0,0.0,1.0,3.0,4.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,False

In [5]:
merged_df.columns

Index(['AGEP', 'SCHL', 'MAR', 'RELP', 'DIS', 'ESP', 'CIT', 'MIG', 'MIL', 'ANC',
       'NATIVITY', 'DEAR', 'DEYE', 'DREM', 'SEX', 'RAC1P', 'ESR'],
      dtype='object')

In [6]:
merged_df=merged_df[['AGEP', 'MAR', 'MIG', 'MIL', 'ANC','NATIVITY', 'DREM','DEYE','SEX', 'RAC1P', 'ESR']]

In [7]:
shuffled = merged_df.sample(frac=1)
shuffled

       AGEP  MAR  MIG  MIL  ANC  NATIVITY  DREM  DEYE  SEX  RAC1P    ESR
29423  61.0  1.0  1.0  4.0  2.0       1.0   2.0   2.0  2.0    1.0  False
37380  74.0  2.0  1.0  4.0  2.0       1.0   2.0   2.0  2.0    1.0   True
46216  14.0  5.0  1.0  0.0  4.0       1.0   2.0   2.0  1.0    1.0  False
19949  47.0  1.0  1.0  4.0  1.0       1.0   2.0   2.0  2.0    1.0  False
24770  68.0  1.0  1.0  4.0  1.0       1.0   2.0   2.0  2.0    2.0  False
...     ...  ...  ...  ...  ...       ...   ...   ...  ...    ...    ...
5970   66.0  1.0  1.0  4.0  1.0       1.0   2.0   2.0  2.0    1.0  False
36049   4.0  5.0  1.0  0.0  1.0       1.0   0.0   2.0  1.0    2.0  False
39186  34.0  1.0  1.0  4.0  1.0       1.0   2.0   2.0  1.0    1.0   True
29902  71.0  1.0  1.0  4.0  4.0       1.0   2.0   2.0  2.0    1.0   True
41916  72.0  1.0  1.0  4.0  1.0       1.0   2.0   2.0  1.0    1.0  False

[47777 rows x 11 columns]

In [8]:
import numpy as np

total_number = len(merged_df)
print("total_number: ",total_number)

num_parts = 2
lower_limit = 20000
upper_limit = 50000

# Generate 9 random numbers between lower_limit and upper_limit
random_numbers = np.random.randint(lower_limit, upper_limit + 1, num_parts - 1)

# Sort the random numbers to ensure variety and add the remaining to the last number
random_numbers = np.sort(random_numbers)
random_numbers = np.append(random_numbers, total_number - np.sum(random_numbers))

print("Random numbers:", random_numbers)
print("Sum:", np.sum(random_numbers))

total_number:  47777
Random numbers: [37629 10148]
Sum: 47777

In [9]:
all_df_split=np.split(merged_df.sample(frac=1, random_state=42), np.cumsum(random_numbers)[:-1])

/home/chiragapandav/Downloads/Hiwi/gpu_env/lib/python3.10/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [10]:
temp=0
for i in all_df_split:
    print("len of Dfs",len(i))
    temp+=len(i)
    
temp

len of Dfs 37629
len of Dfs 10148

47777

In [11]:
merged_df.head()

   AGEP  MAR  MIG  MIL  ANC  NATIVITY  DREM  DEYE  SEX  RAC1P    ESR
0  19.0  5.0  3.0  4.0  1.0       1.0   2.0   2.0  2.0    1.0  False
1  18.0  5.0  3.0  4.0  1.0       1.0   2.0   2.0  2.0    2.0  False
2  53.0  5.0  1.0  4.0  2.0       1.0   1.0   2.0  1.0    1.0  False
3  28.0  5.0  1.0  2.0  1.0       1.0   2.0   2.0  1.0    1.0  False
4  25.0  5.0  3.0  4.0  1.0       1.0   1.0   2.0  2.0    1.0  False

In [12]:
merged_df[merged_df.isna().any(axis=1)]

Empty DataFrame
Columns: [AGEP, MAR, MIG, MIL, ANC, NATIVITY, DREM, DEYE, SEX, RAC1P, ESR]
Index: []

In [13]:
merged_df.columns[merged_df.isna().any()].tolist()

[]

In [34]:
y1= merged_df[['ESR']]  

encoder.fit(y1)

y1 = encoder.transform(y1)

/home/chiragapandav/Downloads/Hiwi/gpu_env/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/chiragapandav/Downloads/Hiwi/gpu_env/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [35]:
y1

array([0, 0, 0, ..., 0, 0, 0])

In [36]:
encoder.inverse_transform(y1)

array([False, False, False, ..., False, False, False])

In [22]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
scaler = StandardScaler()
encoder = LabelEncoder()

list_client_df=[]
output_directory="/home/chiragapandav/Downloads/Hiwi/Improving-Fairness-via-Federated-Learning/FedFB/data_fairFed/"


for idx, ind_df in enumerate(all_df_split):
    
    output_filename = os.path.join(output_directory, f"client_{idx}.csv")
    ind_df.to_csv(output_filename, index=False)

    X = ind_df[['AGEP', 'MAR', 'MIG', 'MIL', 'ANC','NATIVITY', 'DREM','DEYE', 'RAC1P',]]
    y = ind_df[['ESR']]
    # sensitive_attribute = ind_df['SEX'].to_numpy()
    
    sensitive_attribute=ind_df['SEX'].map({1: 1, 2: 0}).to_numpy()
    
    print(sensitive_attribute)
    X = scaler.fit_transform(X)
    encoder.fit(y)
    y = encoder.transform(y)
    
    X = torch.tensor(X, dtype=torch.float32)
    y = torch.tensor(y, dtype=torch.float32).reshape(-1, 1)
    sensitive_attribute = torch.tensor(sensitive_attribute, dtype=torch.float32).reshape(-1, 1)
    
    final_data = data_utils.TensorDataset(X, y, sensitive_attribute)
        
    list_client_df.append(final_data)

# dataset = data_utils.TensorDataset(X, y, sensitive_attribute)
# batch_size = 2  # Adjust the batch size as needed
# dataloader = DataLoader(dataset, batch_size=batch_size, shuffle=True)

# for batch in dataloader:
#     features, labels, sensitive = batch
#     print("Features:", features)
#     print("Labels:", labels)
#     print("Sensitive Attribute:", sensitive)
#     break

[0 1 0 ... 1 1 1]
[0 1 0 ... 0 0 0]

/home/chiragapandav/Downloads/Hiwi/gpu_env/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/chiragapandav/Downloads/Hiwi/gpu_env/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/home/chiragapandav/Downloads/Hiwi/gpu_env/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/chiragapandav/Downloads/Hiwi/gpu_env/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [23]:
valset_ratio=0.05
testset_ratio=0.25
BATCH=64

client_data_for_training=[]
client_data_for_validation=[]
client_data_for_testing=[]

for i in range(len(all_df_split)):
    
    val_samples_num = int(len(list_client_df[i]) * valset_ratio)
    test_samples_num = int(len(list_client_df[i]) * testset_ratio)
    train_samples_num = len(list_client_df[i]) - val_samples_num - test_samples_num


    trainset, valset, testset = random_split(
            list_client_df[i], [train_samples_num, val_samples_num, test_samples_num])

    trainloader = data_utils.DataLoader(trainset, batch_size=BATCH, shuffle=True)
    valloader = data_utils.DataLoader(valset, batch_size=BATCH)
    testloader = data_utils.DataLoader(testset, batch_size=BATCH)

    client_data_for_training.append(trainloader)
    client_data_for_validation.append(valloader)
    client_data_for_testing.append(testloader)

    print(i,"::",len(list_client_df[i]),"::",val_samples_num," :: ",test_samples_num," :: ",train_samples_num)

0 :: 37629 :: 1881  ::  9407  ::  26341
1 :: 10148 :: 507  ::  2537  ::  7104

In [24]:
with open("/home/chiragapandav/Downloads/Hiwi/Improving-Fairness-via-Federated-Learning/FedFB/data_fairFed/clients_training.pkl", "wb") as f:
    pickle.dump(client_data_for_training, f)
    
with open("/home/chiragapandav/Downloads/Hiwi/Improving-Fairness-via-Federated-Learning/FedFB/data_fairFed/clients_validation.pkl", "wb") as f:
    pickle.dump(client_data_for_validation, f)
    
with open("/home/chiragapandav/Downloads/Hiwi/Improving-Fairness-via-Federated-Learning/FedFB/data_fairFed/clients_testing.pkl", "wb") as f:
    pickle.dump(client_data_for_testing, f)

In [17]:
# client_9="/home/chiragapandav/Downloads/Hiwi/Improving-Fairness-via-Federated-Learning/FedFB/client_df/client_0.csv"
# df9=pd.read_csv(client_9)
# df9

In [ ]:
# Recall in positive class